.todoItem{
    background-color:aliceblue;
    padding: 10px;
    display: flex;
    width: 500px;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
}
.buttons button{
    margin: 5px;

}
input{
    font-size: 18px;
}
input[type='checkbox']{
    margin: 5px;
    width: 15px;
    height: 15px;
}
